################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JwtExample/bin/Debug/netcoreapp3.1
/.vs/JwtExample
/JwtExample/obj
/JwtExample/appsettings.Development.json
